<header class="container-fluid">
   <div class="row">
      <h1 scroll-to="#fb-root" class="col-sm-2"><a href="/">TCT</a></h1>
      <nav class="col-sm-12">
         <!--<a href="https://www.facebook.com/coal.chris" class="col-sm-2">Facebook</a>-->
         <a href="https://www.youtube.com/channel/UCf9J4CNaeTISEJAm-nR-nmg" class="col-sm-2">YouTube</a>
         <a href="/jet" scroll-to="#fb-root" class="col-sm-2">JET</a>
         <a href="/posts" scroll-to="#fb-root" class="col-sm-2">Posts</a>
         <!--<a href="https://www.facebook.com/coal.chris" class="col-sm-3" id="nav-fb">Facebook</a>-->
         <a href="https://www.youtube.com/channel/UCf9J4CNaeTISEJAm-nR-nmg" class="col-sm-3" id="nav-yt">YouTube</a>
         <a href="/posts" scroll-to="#fb-root" class="col-sm-3">Posts</a>
         <div class="col-sm-3" id="dropdown">
            <div id="menu-btn" ng-class="{'open': isActive}" ng-click="showMenu = !showMenu; activate()">
               <span></span>
               <span></span>
               <span></span>
               <span></span>
            </div>
            <div id="dropdown-menu" ng-show="showMenu">
               <a scroll-to="#posts" class="col-sm-2" href="/jet">JET</a>
            </div>
         </div>
      </nav>
   </div>
</header>
<div id="posts-header"></div>
<section class="container" id="content">
   <div id="main">
      <div id="scroll-to"></div>
      <article>
         <h1 class="title">JET Frequently Asked Questions</h1>
         <img class="image" src="../img/questions.jpg">
         <p class="text">This is an ongoing list of questions I'm often asked by applicants regarding the JET Programme. Hopefully, you'll find some useful answers here. If not, please contact me and I'll try to help. It's probably easiest to CTRL+F and search for keywords.</p>
         <hr>
         <p><b><u>Application Process</u></b></p>
         <br>
         <p class="text"><b>Do I need to speak Japanese?</b></p>
         <p class="text">No, but you might get a slight advantage during the application process. Most schools don't actually want you to speak to students in Japanese, so it's not so important for work. However, you definitely need at least survival Japanese to live here for a year. I suggest picking it up after accepting the offer, if you don't already know some Japanese.</p>
         <br>
         <p class="text"><b>Does teaching experience or a qualification in education, linguistics or international studies give me an advantage?</b></p>
         <p class="text">You might get a slight edge in the application process, but it's not a major deciding factor. Although, your skills really shine once you start working here and apply your knowledge in classes, communicating with teachers, and anything else you might be doing as a JET.</p>
         <br>
         <p class="text"><b>So Chris, what DOES give me an advantage?</b></p>
         <p class="text">Well statistically, it would seem that Caucasians make up the majority of JETs. It's my guess that it's attributed to both the differences in background between an Asian and Caucasian Westerner, and that there may be a bias. But hey, look at who's typing this up in Japan right now! I also think you can get a massive boost by showing that you have a solid motivation for teaching ESL in Japan and exchanging cultures, both in your paper application and the interview.</p>
         <br>
         <p class="text"><b>How many people get into the JET Programme?</b></p>
         <p class="text">In America and Australia, the statistics in 2012 showed that about half of applicants would receive an interview, and half of those interviewees would receive offers. That's a quarter of all applicants. I hear the exact numbers fluctuate every year, but one in four sounds like the average.</p>
         <br>
         <p class="text"><b>What should I write for my preferred location?</b></p>
         <p class="text">It's all very much random and you probably won't get what you want. I've heard people wanting to go to big cities like me and being placed in some small town instead. On the other hand, many JETs are being hired in Tokyo, so some people wanting to be in the countryside got placed in the capital city instead. I'm almost certain the administrating organisation, CLAIR, just throws darts on a map to see where you go. On the bright side, most people seem to get a placement within 150km from a preference.</p>
         <br>
         <p class="text"><b>What should I do with references?</b></p>
         <p class="text">You need two references. If you're an undergraduate, at least one reference letter must be from a professor. Otherwise, they can just be from your current or previous employers. They should highlight why you're suited for a job which involves teaching ESL and exchanging culture.</p>
         <br>
         <p class="text"><b>What are the dates for interviews, job offers and placements?</b></p>
         <p class="text">Most countries have similar dates. In Australia, interview invitations came in the first week of January. Interviews were held at the beginning of February. Job offers came at the end of March. Some documents were due at the end of April. Then you find out about your placement in the last two weeks of May.</p>
         <br>
         <p class="text"><b>Who will be on the interview panel?</b></p>
         <p class="text">Usually it seems to be an employee from the consulate, a JET alumni, and a Japanese teacher from a university. It's a well-balanced trio who can figure out your compatibility with the JET Programme. The consulate staff member will probably talk the most, primarily regarding your application and motivations and general administration stuff. The JET alumni knows the job best, and might ask you some questions related to working or living in Japan. The Japanese teacher will test you on your Japanese at some point.</p>
         <br>
         <p class="text"><b>Any tips for the interview?</b></p>
         <p class="text">Dress appropriately. Shirt, skirt or pants, suit jacket, tidy hair, no tattoos showing, no extravagant piercings. Next you just want to make sure everything you say is in line with your statement of purpose essay, and that it all relates to teaching ESL in Japan and exchanging culture.</p>
         <br>
         <p class="text"><b>I failed to get into the JET Programme. What now?</b></p>
         <p class="text">You can check out some other ALT recruiters such as Interac or GaijinPot. There are also Eikaiwa (English conversational school) jobs open all year round. AEON seems to be a good choice for that. Note that most job listings will require you to already be in Japan, since they don't want to help you sort out your visa, or just want to interview you in person, or because it's an immediate hire listing.</p>
         <br>
         <p class="text"><b>Wrong, Chris. I've been accepted. Now what?</b></p>
         <p class="text">You should've received instructions to submit documents for your visa, along with handing in those tedious medical and police check forms to the embassy if you haven't already. Then you need to plan out how you'll enjoy your remaining few months with friends and family, and how you'll prepare for moving to Japan. For me, this meant buying a new camera to capture moments which I could print and bring to Japan and show people. Other things to consider include exchanging at least 80,000 yen for surviving the first month in Japan, closing your unnecessary bank accounts, getting an international driver's licence if you plan on renting a car for holidays or going Mario Karting, cancelling your household utilities, phone and internet plans, and filing your tax.</p>
         <hr>
         <p><b><u>Work in Japan</u></b></p>
         <br>
         <p class="text"><b>How many hours do you work?</b></p>
         <p class="text">Most people work 8:30am to 4:30pm from Monday to Friday. You might have to come in for special events like school festivals or speech contests on weekends, but your employer should compensate you with a day off within the next 4 weeks. In terms of classes, you can have anywhere from 7 per week to 25 per week. The median should be around 15. Classes are around 50 minutes long for high schools. Most JETs teach at a few different schools, so you might need to travel between two separate schools on a given day.</p>
         <br>
         <p class="text"><b>Do you get any training?</b></p>
         <p class="text">On arrival in July, you'll get some training at Tokyo Orientation. You also probably got a bit of training before you left your home country. After arriving at your placement, you might get workshops and training days run by CLAIR every few months. I found the most helpful training was researching teaching ideas online, and reflecting on how your classes are, and making any necessary changes to maximise fun in the classroom and amount of time the students are actually engaged in writing and speaking English.</p>
         <br>
         <p class="text"><b>What holidays or days off do you get?</b></p>
         <p class="text">There are plenty of public holidays so you can have long weekends off. Check online for a Japanese calendar if you want to know dates. Generally, it's not recommended that you take leave on school days. Instead, it's suggested that you use them during the school breaks. Summer break is all of August, and winter break is from around December 29 till January 7. Spring break is the last week of March and first week of April. Some JETs get their school breaks off from work, without taking any leave. Those lucky unicorns!</p>
         <br>
         <p class="text"><b>What school clubs are there?</b></p>
         <p class="text">Depends on your school, but most high schools will have some sports teams, some academia clubs like mathematics circle or cultural studies club, and some hobbyist groups like literature club or karuta club. Personally, I hang out with the volleyball team, the international studies club, and the science club. I also visit the tea ceremony club, the school brass band, table tennis team, and the basketball team if I'm free. It's worth checking out all the clubs so you can gauge what your students enjoy doing outside of the classroom.</p>
         <br>
         <p class="text"><b>Is there any technology in the classroom?</b></p>
         <p class="text">Most schools only have blackboards and chalk. Some will have projectors in the staff room, which you will need to book in advance to use, or operate under a first-come-first-serve principle. Check whether it uses VGA or HDMI cables! A very select few schools have smart boards, which mean you can do some creative and interactive activities with lots of media. If smartphones are permitted in your school, I'd recommend using the web app Kahoot to run some fun and competitive class quizzes.</p>
         <hr>
         <p><b><u>Life in Japan</u></b></p>
         <br>
         <p class="text"><b>What about health insurance?</b></p>
         <p class="text">Your employer will deal with that. You will lose a small portion of your salary to the national health care plan though, which is compulsory for all employees.</p>
         <br>
         <p class="text"><b>What about tax?</b></p>
         <p class="text">Tax will automatically be deducted from your salary. It varies by region and city, but it should be around 10 percent.</p>
         <br>
         <p class="text"><b>What about the pension system?</b></p>
         <p class="text">Around 10 percent of your salary will be paid to the national pension system. You can get back most, if not all, of it by doing tax returns when finishing JET. Note that you can only claim back up to 3 years' worth of money.</p>
         <br>
         <p class="text"><b>What about banking?</b></p>
         <p class="text">Japanese banking is pretty inconvenient for JETs. Online banking is not so big here, and it's very difficult to get a credit card. Your supervisor should help you get a bank account set up, and then you can ask the bank for a cash card. This card allows you to withdraw from certain ATMs, including most convenience store ATMs, with a small fee involved. Most of Japan operates under a cash only payment system, so a credit card would only be useful in the big city department stores anyways.</p>
         <br>
         <p class="text"><b>How much is accommodation?</b></p>
         <p class="text">In more rural placements, it seems quite common to pay around 30,000 yen per month for a reasonably large place, because it's usually subsidised by your employer. I'm paying 43,000 yen for a small apartment (funnily enough they're called mansions here), which is equivalent to a place in the outer suburbs of Osaka. These housings are set by your employer. In Tokyo, it seems that JETs must find their own places, which is both a blessing and a curse since you could look for your ideal option, but the paperwork would be terrifying, and rent is around 60,000 yen. Good thing your supervisor can help you out!</p>
         <div class="row text-right">
            <h4><p></p>SHARE</h4>
            <img class="fb-share" src="../img/facebook-icon.png" socialshare socialshare-provider="facebook" socialshare-type="share" socialshare-via="100846010551968" socialshare-url="https://thechristimes.herokuapp.com/jet/faq">
            <img class="twitter-share" src="../img/twitter-icon.png" socialshare socialshare-provider="twitter" socialshare-url="https://thechristimes.herokuapp.com/jet/faq">
            <img class="google-share" src="../img/google-icon.png" socialshare socialshare-provider="google" socialshare-url="https://thechristimes.herokuapp.com/jet/faq">
            <img class="pinterest-share" src="../img/pinterest-icon.png" socialshare socialshare-provider="pinterest" socialshare-url="https://thechristimes.herokuapp.com/jet/faq">
         </div>
      </article>
   </div>
   <div id="suggestions">
      <p id="recommended">Related</p>
      <div class="suggests" ng-repeat="article in articles | filter: filterJet | limitTo: 4">
         <a href="/posts/{{ article.id }}" scroll-to="#fb-root"><img class="suggest-image" ng-src="{{ article.image }}"></a>
         <div>
            <p class="suggest-title"><a href="/posts/{{ article.id }}" scroll-to="#fb-root">{{ article.title }}</a></p>
         </div>
      </div>
   </div>
</section>