<header class="container-fluid">
   <div class="row">
      <h1 class="col-sm-2"><a href="https://coalchris.github.io/">TCT</a></h1>
      <nav class="col-sm-12">
         <a scroll-to="#scroll-to" class="col-sm-3" ng-click="filter('travel')">Travels</a>
         <a scroll-to="#scroll-to" class="col-sm-3" ng-click="filter('food')">Food</a>
         <a scroll-to="#scroll-to" class="col-sm-3" ng-click="filter('anime')">Anime</a>
         <a scroll-to="#scroll-to" class="col-sm-3" ng-click="filter('religion')">Religion</a>
         <div class="col-sm-2" id="dropdown">
            <div id="menu-btn" ng-class="{'open': isActive}" ng-click="showMenu = !showMenu; activate()">
               <span></span>
               <span></span>
               <span></span>
               <span></span>
            </div>
            <div id="dropdown-menu" ng-show="showMenu">
               <a scroll-to="#scroll-to" class="col-sm-2" ng-click="filter('travel')">Travels</a>
               <a scroll-to="#scroll-to" class="col-sm-2" ng-click="filter('food')">Food</a>
               <a scroll-to="#scroll-to" class="col-sm-2" ng-click="filter('anime')">Anime</a>
               <a scroll-to="#scroll-to" class="col-sm-2" ng-click="filter('religion')">Religion</a>
            </div>
         </div>
      </nav>
   </div>
</header>
<div id="posts-header"></div>
<section class="container" id="content">
   <div class="sidebar">
      <div id="profile">
         <div id="dp">
            <img src="../img/profile.jpg">
         </div>
         <p>
            Hi, I'm Chris and welcome to my website. I am an avid follower of technology, Japanese culture, and the Christian faith. I'm based in Sydney, Australia, but love to travel all over the world! Hopefully you'll discover some interesting facts, have a good laugh at my stories, and be inspired to walk down a similarly awesome path!
         </p>
      </div>
      <div class="row text-center" id="share">
         <div class="fb-follow" data-href="https://www.facebook.com/coal.chris" data-layout="standard" data-size="small" data-show-faces="true"></div>
         <div class="row text-center" id="share-small">
            <div class="fb-like" data-href="https://coalchris.github.io/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
            <div id="youtube">
               <div class="g-ytsubscribe" data-channelid="UCf9J4CNaeTISEJAm-nR-nmg" data-layout="default" data-count="default"></div>
            </div>
         </div>
      </div>
   </div>
   <div id="main" infinite-scroll="loadMore()" infinite-scroll-distance="1" infinite-scroll-disabled="maxResults > numArticles">
      <div id="scroll-to"></div>
      <h1 id="posts">Newest Posts</h1>
      <article ng-repeat="article in articles | filter: filterType | limitTo: maxResults">
         <h1 class="title">{{ article.title }}</h2>
         <p class="date">{{ article.date }}</p>
         <img class="image" ng-src="{{ article.image }}">
         <p class="blurb">{{ article.blurb }}</p>
         <p class="more" ng-click="showText = !showText; filter('more')" ng-show="!showText">Read More →</p>
         <p class="text" ng-show="showText" ng-bind-html="article.text"/>
      </article>
   </div>
</section>