<header class="container-fluid">
   <div class="row">
      <h1 scroll-to="#fb-root" class="col-sm-2"><a href="/">TCT</a></h1>
      <nav class="col-sm-12">
         <!--<a href="https://www.facebook.com/coal.chris" class="col-sm-2">Facebook</a>-->
         <a href="https://www.youtube.com/channel/UCf9J4CNaeTISEJAm-nR-nmg" class="col-sm-2">YouTube</a>
         <a href="/jet" scroll-to="#fb-root" class="col-sm-2">JET</a>
         <a href="/posts" scroll-to="#fb-root" class="col-sm-2">Posts</a>
         <!--<a href="https://www.facebook.com/coal.chris" class="col-sm-3" id="nav-fb">Facebook</a>-->
         <a href="https://www.youtube.com/channel/UCf9J4CNaeTISEJAm-nR-nmg" class="col-sm-3" id="nav-yt">YouTube</a>
         <a href="/posts" scroll-to="#fb-root" class="col-sm-3">Posts</a>
         <div class="col-sm-3" id="dropdown">
            <div id="menu-btn" ng-class="{'open': isActive}" ng-click="showMenu = !showMenu; activate()">
               <span></span>
               <span></span>
               <span></span>
               <span></span>
            </div>
            <div id="dropdown-menu" ng-show="showMenu">
               <a scroll-to="#posts-header" class="col-sm-2" href="/jet">JET</a>
            </div>
         </div>
      </nav>
   </div>
</header>
<div id="scroll-to"></div>
<div id="posts-header"></div>
<section class="container" id="content">
   <h1 id="posts">Newest Posts</h1>
   <div id="tags">
      <h4>Popular Tags</h4>
      <p ng-click="filter('travel')">Travels</p>
      <p ng-click="filter('food')">Food</p>
      <p ng-click="filter('anime')">Anime</p>
      <p ng-click="filter('religion')">Religion</p>
   </div>
   <div id="main" infinite-scroll="loadMore()" infinite-scroll-distance="1" infinite-scroll-disabled="maxResults > numArticles">
      <div id="scroll-to"></div>
      <article ng-repeat="article in articles | filter: filterType | limitTo: maxResults" ng-init="setMetaTags()">
         <h1 class="title"><a href="/posts/{{ article.id }}" scroll-to="#fb-root">{{ article.title }}</a></h1>
         <p class="date">{{ article.date }}</p>
         <a href="/posts/{{ article.id }}" scroll-to="#fb-root"><img class="image" ng-src="{{ article.image }}"></a>
         <p class="blurb">{{ article.blurb }}</p>
         <p class="more" ng-click="showText = !showText; filter('more')" ng-show="!showText">Read More →</p>
         <p class="text" ng-show="showText" ng-bind-html="article.text"/>
         <div class="row text-right">
            <h4 ng-show="showText"><p></p>SHARE</h4>
            <img class="fb-share" src="../img/facebook-icon.png" ng-show="showText" socialshare socialshare-provider="facebook" socialshare-type="share" socialshare-via="100846010551968" socialshare-url="https://thechristimes.herokuapp.com/posts/{{ article.id }}">
            <img class="twitter-share" src="../img/twitter-icon.png" ng-show="showText" socialshare socialshare-provider="twitter" socialshare-url="https://thechristimes.herokuapp.com/posts/{{ article.id }}">
            <img class="google-share" src="../img/google-icon.png" ng-show="showText" socialshare socialshare-provider="google" socialshare-url="https://thechristimes.herokuapp.com/posts/{{ article.id }}">
            <img class="pinterest-share" src="../img/pinterest-icon.png" ng-show="showText" socialshare socialshare-provider="pinterest" socialshare-url="https://thechristimes.herokuapp.com/posts/{{ article.id }}">
         </div>
      </article>
   </div>
</section>